<mat-toolbar color='primary'>

  <button mat-button (click)='toggleSidenav.emit()' class='sidenav-toggle'>
    <mat-icon>menu</mat-icon>
  </button>

  Contact Manager

  <span class='toolbar-filler'></span>
  <button mat-button [matMenuTriggerFor]='menu'>
      <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu='matMenu'>
    <button mat-menu-item (click)='openAddContactDialog()'>Add New Contact</button>
    <button mat-menu-item (click)='toggleTheme.emit()'>Toggle Theme</button>
    <button mat-menu-item (click)='toggleDir.emit()'>Toggle Direction</button>
  </mat-menu>
  
</mat-toolbar>